{% block draw-abbrev %}
<!-- sliding left panel -->
<div class="panel2">
	<div class="panel-heading"><strong><span id="abbreviations-draw-title"></span></strong></div>
	<div class="abbrev-panel-content">
		        <ul class="abbreviation-list">
        <li><span class="abbrev">AAST</span><span class="abbrev-detail"><i>Anglesey Antiquarian Society and Field Club Transactions, </i>1913-
            &#x177;&#x175;</span></li>
        <li><span class="abbrev">Actau</span><span class="abbrev-detail">Actauyr Apostolion yn y Testament Newydd</span></li>
        <li><span class="abbrev">Acts</span><span class="abbrev-detail">The Acts of the Apostles in the New Testament</span></li>
        <li><span class="abbrev">AP</span><span class="abbrev-detail">D.Gwenallt Jones (gol.),<i> Yr Areithiau Pros </i>(Caerdydd,1934)</span></li>
        <li><span class="abbrev">Arch Camb</span><span class="abbrev-detail"><i>Archaeologia Cambrensis,</i> 1846</span></li>
        <li><span class="abbrev">ArchifMR</span><span class="abbrev-detail">Cronfa Ddata Enwau Lleoedd: Archif Melville Richards / Archif Melville
            Richards Place-name Database</span></li>
            <li><span class="abbrev-link">&lt;<a href="http://www.e-gymraeg.co.uk/enwaulleoedd/amr">http://www.e-gymraeg.co.uk/enwaulleoedd/amr</a>&gt;</span></li>
        <li><span class="abbrev">Arm P</span><span class="abbrev-detail">Ifor Williams (gol.), <i>Armes Prydein o Lyfr Taliesin</i> (Caerdydd, 1955)</span></li>
        <li><span class="abbrev">Arm P2</span><span class="abbrev-detail">Ifor Williams (ed.),<i> Armes Prydain from the Book of Taliesin</i>, English version by Rachel Bromwich (Dublin, 1972)</span></li>
        <li><span class="abbrev">ASCent</span><span class="abbrev-detail">M. Paul Bryant-Quinn (gol.),<i> Apocrya Sin Cent</i> (Aberystwyth, 2004)</span></li>
        <li><span class="abbrev">B</span><span class="abbrev-detail"><i>Bwletin y Bwrdd Gwybodau Celtaidd</i>, 1921-93</span></li>
        <li><span class="abbrev">Ba</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Prifysgol Cymru, Bangor</span></li>
        <li><span class="abbrev">Ba(M)</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Bangor (Mostyn) ym Mhrifysgol Cymru,
            Bangor</span></li>
        <li><span class="abbrev">Barnwyr</span><span class="abbrev-detail">Llyfry Barnwyr yn yr Hen Destament</span></li>
        <li><span class="abbrev">BD</span><span class="abbrev-detail">Henry Lewis (gol.), <i>Brut Dingestow </i>(Caerdydd, 1942)</span></li>
        <li><span class="abbrev">BDe</span><span class="abbrev-detail">D.Simon Evans, <i>Buchedd Dewi </i>(Caerdydd, 1959)</span></li>
        <li><span class="abbrev">BDG</span><span class="abbrev-detail">Owen Jones a William Owen (goln.),<i> Barddoniaeth Dafydd ab Gwilym</i>
            (Llundain, 1789)</span></li>
        <li><span class="abbrev">Beirn</span><span class="abbrev-detail">J. Morris Jones, <i>Y Beirniad</i> (1911-20)</span></li>
        <li><span class="abbrev">Bettisfield</span><span class="abbrev-detail">Casgliad Bettisfield yn Llyfrgell Genedlaethol Cymru, Aberystwyth / The
            Bettisfield collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">BL</span><span class="abbrev-detail">Llawysgrifau Ychwanegol yngnghasgliad y Llyfrgell Brydeinig, Llundain / The
            Additional Manuscripts in the British Library, London</span></li>
        <li><span class="abbrev">BlBGCC </span><span class="abbrev-detail">Marged Haycock (gol.),<i> Blodeugerdd Barddas o Ganu Crefyddol
                Cynnar</i> (Llandybe, 1994)</span></li>
        <li><span class="abbrev">Bl BXIV </span><span class="abbrev-detail">Dafydd Johnston (gol.),<i> Blodeugerdd Barddas o'r Bedwaredd Ganrif
                arDdeg</i> (Llandybe, 1989)</span></li>
        <li><span class="abbrev">Bod</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Bodewryd, ynLlyfrgell Genedlaethol Cymru, Abersytwyth /
            A manuscript in the Bodewryd collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">BodW</span><span class="abbrev-detail">Llawysgrif Gymreig yng nghasgliadLlyfrgell Bodley, Rhydychen / A Welsh manuscript
            in the Bodleian Library, Oxford</span></li>
        <li><span class="abbrev">1 Brenhinoedd</span><span class="abbrev-detail">Llyfr Cyntaf y Brenhinoedd yn yr Hen Desatement</span></li>
        <li><span class="abbrev">2 Brenhinoedd</span><span class="abbrev-detail">Ail Lyfr y Brenhinoedd yn yr Hen Destament</span></li>
        <li><span class="abbrev">BrenSaes</span><span class="abbrev-detail">Thomas Jones (gol.), <i>Brenhinedd y Saesson </i>(Caerdydd,
            1971)</span></li>
        <li><span class="abbrev">BritishHO</span><span class="abbrev-detail">British History Online <a target="_blank" href="http://www.british-history.ac.uk">http://www.british-history.ac.uk</a>&gt;</span></li>
        <li><span class="abbrev">BrM</span><span class="abbrev-detail">Ifor Williams (gol.), <i>Breuddwyd Maxen </i>(Bangor,1908)</span></li>
        <li><span class="abbrev">BrM2</span><span class="abbrev-detail">Brynley F. Roberts (ed.), <i>Breudwyt Maxen Wledic</i> (Dublin,
            2005)</span></li>
        <li><span class="abbrev">Brog</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Brogyntyn, yn Llyfrgell Genedlaethol Cymru, Aberystwyth
            / A manuscript in the Brogyntyn collection at the National Library of Wales,
            Aberystwyth</span></li>
        <li><span class="abbrev">BRh</span><span class="abbrev-detail">Melville Richards (gol.), <i>Breudwyt Ronabwy</i> (Caerdydd, 1948)</span></li>
        <li><span class="abbrev">BT</span><span class="abbrev-detail">ThomasJones (gol.), <i>Brut y Tywysogyon PeniarthMs. 20</i> (Caerdydd,
            1941)</span></li>
        <li><span class="abbrev">BY</span><span class="abbrev-detail">Thomas Jones (gol.),<i> Y Bibyl Ynghymraec</i> (Caerdydd, 1940)</span></li>
        <li><span class="abbrev">ByCy</span><span class="abbrev-detail"><i>Y Bywgraadur Cymreig hyd 1940</i>(Llundain, 1953)</span></li>
        <li><span class="abbrev">ByCy Ar-lein</span><span class="abbrev-detail">Y Bywgraffiadur Ar-lein</span></li>
        <li><span class="abbrev-link">&lt;<a target="_blank" href="http://yba.llgc.org.uk/cy/index.html">http://yba.llgc.org.uk/cy/index.html</a>&gt;</span></li>
        <li><span class="abbrev">C</span><span class="abbrev-detail">Llawysgrifyn Llyfrgell Ganolog Caerdydd / A manuscript in Cardiff Central
            Library</span></li>
        <li><span class="abbrev">CA</span><span class="abbrev-detail">Ifor Williams (gol.), <i>Canu Aneirin, </i>(Caerdydd, 1938)</span></li>
        <li><span class="abbrev">CAMBM</span><span class="abbrev-detail"><i>Catalogueof Additions to the Manuscripts in the British Museum</i></span></li>
        <li><span class="abbrev">CC</span><span class="abbrev-detail">J. Fisher (ed.)<i>, The Cefn Coch MSS</i> (Liverpool, 1889)</span></li>
        <li><span class="abbrev">CCR</span><span class="abbrev-detail"><i>Calendarof the close rolls preserved in the Public Record Office [12721509]
            </i>(London,1900-63)</span></li>
        <li><span class="abbrev">CD</span><span class="abbrev-detail">John Morris-Jones, <i>Cerdd Dafod </i>(Rhydychen, 1925)</span></li>
        <li><span class="abbrev">CFG</span><span class="abbrev-detail">Melville Richards, <i>Cystrawen y Frawddeg Gymraeg</i> (ail arg.,Caerdydd,
            1970)</span></li>
        <li><span class="abbrev">CLC2</span><span class="abbrev-detail">Meic Stephens (gol.),<i> Cydymaith i Lenyddiaeth Cymru </i>(ailarg.,
            Caerdydd, 1997)</span></li>
        <li><span class="abbrev">CLlH</span><span class="abbrev-detail">Ifor Williams (gol.), <i>Canu Llywarch Hen</i> (Caerdydd, 1935)</span></li>
        <li><span class="abbrev">CLlLl</span><span class="abbrev-detail">Brynley F. Roberts (ed.),<i> CyfrancLludd a Llefelys</i> (Dublin, 1975)</span></li>
        <li><span class="abbrev">CM</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Cwrtmawr, yn Llyfrgell Genedlaethol Cymru, Aberystwyth / A
            manuscript in the Cwrtmawrcollection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">CMCS</span><span class="abbrev-detail"><i>Cambridge Medieval Celtic Studies</i>,19811993; <i>Cambrian Medieval
                CelticStudies, </i>1993</span></li>
        <li><span class="abbrev">CMOC2</span><span class="abbrev-detail">Dafydd Johnston (gol.),<i> Canu Maswedd yr Oesoedd Canol</i>
            (ailarg., Pen-y-bont ar Ogwr, 1998)</span></li>
        <li><span class="abbrev">CO3 </span><span class="abbrev-detail">Rachel Bromwich a D.&nbsp;Simon Evans(goln.) gyda chymorth D.H.
            Evans <i>Culhwchac Olwen</i> (Caerdydd, 1997)</span></li>
        <li><span class="abbrev">CPR</span><span class="abbrev-detail"><i><span>Calendar of Patent Rolls preserved in the Record
                Office</span></i><span>&nbsp;<span>(London, 18911986)</span></span></span></li>
        <li><span class="abbrev">CSTB</span><span class="abbrev-detail">P.J.Donovan (gol.),<i> Cywyddau Serch y Tri Bedo</i>(Caerdydd, 1982)</span></li>
        <li><span class="abbrev">CT</span><span class="abbrev-detail">Ifor Williams (gol.),<i> Canu Taliesin</i> (Caerdydd, 1960)</span></li>
        <li><span class="abbrev">CTC</span><span class="abbrev-detail">Catrin T. Beynon Davies, `Cerddir TaiCrefydd (M.A. Cymru [Bangor], 1973)</span></li>
        <li><span class="abbrev">Cy</span><span class="abbrev-detail"><i>Y Cymmrodor, The Magazine of the HonourableSociety of Cymmrodorion,
            </i>18771951</span></li>
        <li><span class="abbrev">CylchgCHSFeir</span><span class="abbrev-detail"><i>Cylchgrawn Cymdeithas Hanes a Chofnodion Sir Feirion (n)ydd,
            </i>1949</span></li>
        <li><span class="abbrev">CylchgHC</span><span class="abbrev-detail"><i>CylchgrawnHanes Cymru, </i>1960</span></li>
        <li><span class="abbrev">Cylchg LlGC </span><span class="abbrev-detail"><i>Cylchgrawn Llyfrgell Genedlaethol Cymru</i>,1939</span></li>
        <li><span class="abbrev">ChO</span><span class="abbrev-detail">Ifor Williams (gol.), <i>Chwedleu Odo</i> (Wrecsam, 1926)</span></li>
        <li><span class="abbrev">1 Chronicles </span><span class="abbrev-detail">The First Book of the Chronicles in the Old Testament</span></li>
        <li><span class="abbrev">2 Chronicles </span><span class="abbrev-detail">The Second Book of the Chronicles in the Old Testament</span></li>
        <li><span class="abbrev">Datguddiad</span><span class="abbrev-detail">`Datguddiad Ioan' yn y Testament Newydd</span></li>
        <li><span class="abbrev">DB</span><span class="abbrev-detail">Henry Lewis a P. Diverres (goln.), <i>Delwy Byd</i> (Caerdydd, 1928)</span></li>
        <li><span class="abbrev">DE</span><span class="abbrev-detail">Thomas Roberts (gol.), <i>Gwaith Dafydd ab Edmwnd </i>(Bangor, 1914)</span></li>
        <li><span class="abbrev">DGA</span><span class="abbrev-detail">HelenFulton (ed.), <i>Selections from the Dafyddap Gwilym Apocrypha</i>
            (Llandysul, 1996)</span></li>
        <li><span class="abbrev">DGG </span><span class="abbrev-detail">Ifor Williams a TRoberts (goln.), <i>Cywyddau Dafydd ap Gwilym ai
                Gyfoeswyr</i> (Bangor, 1914)</span></li>
        <li><span class="abbrev">DGG2</span><span class="abbrev-detail">Ifor Williams a T. Roberts (goln.), <i>Cywyddau Dafydd ap Gwilym a'i
                Gyfoeswyr</i>(ail arg., Caerdydd, 1935)</span></li>
            <li><span class="abbrev">DG.net</span><span class="abbrev-detail">Dafydd ap Gwilym.net &lt;<a target="_blank" href="http://www.dafyddapgwilym.net">http://www.dafyddapgwilym.net</a>&gt;</span></li>
        <li><span class="abbrev">DN</span><span class="abbrev-detail">ThomasRoberts and Ifor Williams (eds.), <i>ThePoetical Works of Dafydd
                Nanmor</i> (Cardi and London, 1923)</span></li>
        <li><span class="abbrev">DNB2</span><span class="abbrev-detail">H.C.G. Matthew and B. Harrison (eds.), <i>Oxford Dictionary of
                National Biography</i> (Oxford, 2004)</span></li>
        <li><span class="abbrev">DNBOnline</span><span class="abbrev-detail">Oxford Dictionary of National Biography
            &lt;<a target="_blank" href="http://www.oxforddnb.com/">http://www.oxforddnb.com/</a>&gt;</span></li>
        <li><span class="abbrev">DWB</span><span class="abbrev-detail">Welsh Biography Online</span></li>
            <li><span class="abbrev-link">&lt;<a target="_blank" href="http://yba.llgc.org.uk/en/index.html">http://yba.llgc.org.uk/en/index.html</a>&gt;</span></li>
        <li><span class="abbrev">DWH</span><span class="abbrev-detail">Michael Powell Siddons, <i>The Development of Welsh Heraldry </i>(3vols.,
            Aberystwyth, 19913)</span></li>
        <li><span class="abbrev">L.Dwnn: HV</span><span class="abbrev-detail">S.R. Meyrick (ed.),<i> Heraldic Visitations of Wales
            </i>(Llandovery,1846)</span></li>
        <li><span class="abbrev">EANC</span><span class="abbrev-detail">R.J. Thomas, <i>Enwau Afodyn a Nentydd Cymru</i> Caerdydd, 1938)</span></li>
        <li><span class="abbrev">EEW</span><span class="abbrev-detail">T.H. Parry-Williams, <i>The English Element in Welsh</i> (Londons, 1923)</span></li>
        <li><span class="abbrev">tudes</span><span class="abbrev-detail"><i>&Eacute;tudes celtiques</i>, 1936</span></li>
        <li><span class="abbrev">EVW</span><span class="abbrev-detail">M.E. Griths, <i>Early Vaticination in Welsh with English Parallels</i> (Cardi,
            1937)</span></li>
        <li><span class="abbrev">EWGT</span><span class="abbrev-detail">P.C. Bartrum (ed.), <i>Early Welsh Genealogical Tracts</i> (Cardiff, 1966)</span></li>
        <li><span class="abbrev">G</span><span class="abbrev-detail">J.&nbsp;Lloyd-Jones (gol.), <i>Geirfa Barddoniaeth Gynnar Gymraeg</i>(Caerdydd,
            1931-63)</span></li>
        <li><span class="abbrev">GazMFEW</span><span class="abbrev-detail">Gazetter of Markets and fairs in England and Wales to 1516
            <span class="abbrev-link">&lt;<a target="_blank" href="http://www.history.ac.uk/cmh/gaz/gazweb2.html">http://www.history.ac.uk/cmh/gaz/gazweb2.html</a></span>&gt;</span></li>
        <li><span class="abbrev">GBDd</span><span class="abbrev-detail"><i>Gwaith Bleddyn Ddu</i>, gol. R. Iestyn Daniel (Aberystwyth, 1994)</span></li>
        <li><span class="abbrev">GBF</span><span class="abbrev-detail">Rhian M. Andrews et al. (goln.), <i>Gwaith Bleddyn Fardd a Beirdd Eraill AilHanner
                y Drydedd Ganrif ar Ddeg</i> (Caerdydd, 1996)</span></li>
        <li><span class="abbrev">GC</span><span class="abbrev-detail">R. Iestyn Daniel (gol.), <i>Gwaith Casnodyn</i> (Aberystwyth, 1999)</span></li>
        <li><span class="abbrev">GCBMi</span><span class="abbrev-detail">Nerys Ann Jones ac Ann Parry Owen (goln.), <i>Gwaith Cynddelw Brydydd
                Mawr</i>,i (Caerdydd, 1991)</span></li>
        <li><span class="abbrev">GCBMii</span><span class="abbrev-detail">Nerys Ann Jones ac Ann Parry Owen (goln.),<i> Gwaith Cynddelw Brydydd
                Mawr</i>,ii (Caerdydd, 1995)</span></li>
        <li><span class="abbrev">GDB</span><span class="abbrev-detail">N.G. Costigan (Bosco) et al. (goln.)<i>, Gwaith Dafydd Benfras ac Eraill o
                FeirddHanner Cyntaf y Drydedd Ganrif ar Ddeg</i> (Caerdydd, 1995)</span></li>
        <li><span class="abbrev">GDC</span><span class="abbrev-detail">R. Iestyn Daniel (gol.), <i>Gwaith Dafydd y Coed a beirdd eraill o LyfrCoch
                Hergest</i> (Aberystwyth, 2002)</span></li>
        <li><span class="abbrev">GDEp</span><span class="abbrev-detail">Owen Thomas (gol.), <i>Gwaith Dafydd Epynt</i> (Aberystwyth, 2002)</span></li>
        <li><span class="abbrev">GDG </span><span class="abbrev-detail">Thomas Parry (gol.), <i>Gwaith Dafydd ap Gwilym</i>(Caerdydd, 1952)</span></li>
        <li><span class="abbrev">GDG3 </span><span class="abbrev-detail">Thomas Parry (gol.), <i>Gwaith Dafydd ap Gwilym</i> (trydydd
            arg., Caerdydd, 1979)</span></li>
        <li><span class="abbrev">GDGor</span><span class="abbrev-detail"><span>Erwain H. Rheinallt (gol.), </span><i>Gwaith Dafydd Gorlech</i>
            <span>(Aberystwyth,1997)</span></span></li>
        <li><span class="abbrev">GDID</span><span class="abbrev-detail">A.Eleri Davies (gol.),<i> Gwaith Deio ab Ieuan Du a Gwilym ab Ieuan Hen</i>
            (Caerdydd, 1992)</span></li>
        <li><span class="abbrev">GDLl</span><span class="abbrev-detail">W. Leslie Richards (gol.), <i>Gwaith Dafydd Llwyd o Fathafarn</i>(Caerdydd,
            1964)</span></li>
        <li><span class="abbrev">Genesis</span><span class="abbrev-detail">`Llyfr Genesis' yn yr Hen Destament </span></li>
        <li><span class="abbrev">Genesis</span><span class="abbrev-detail">The Book of Genesis in the Old Testament</span></li>
        <li><span class="abbrev">GEO</span><span class="abbrev-detail">R. Geraint Gruydd a Rhiannon Ifans(goln.),<i> Gwaith Einion Oeiriad a Dafydd Ddu o
                Hiraddug, </i>gol. (Aberystwyth, 1997)</span></li>
        <li><span class="abbrev">GGDT</span><span class="abbrev-detail">N.G. Costigan (Bosco) <i>et al. </i>(goln.), <i>Gwaith Gruudd ap Dafydd ap Tudur,
                Gwilym Ddu o Arfon, Trahaearn Brydydd Mawr ac Iorwerth Beli</i> (Aberystwyth,
            1995)</span></li>
        <li><span class="abbrev">GGH</span><span class="abbrev-detail">D.J. Bowen (gol.),<i> Gwaith Gruudd Hiraethog</i> (Caerdydd, 1990)</span></li>
        <li><span class="abbrev">GGGr</span><span class="abbrev-detail">Barry J. Lewis ac Eurig Salisbury (goln.),<i> Gwaith Gruffudd Gryg</i>(Aberystwyth
            2010)</span></li>
        <li><span class="abbrev">GGl</span><span class="abbrev-detail">J. Llywelyn Williams ac Ifor Williams (goln.),<i> Gwaith Gutor Glyn</i> (Caerdydd,
            1939)</span></li>
        <li><span class="abbrev">GGl2 </span><span class="abbrev-detail">J. Llywelyn Williams ac Ifor Williams(goln.),<i> Gwaith Guto'r
                Glyn</i> (ail arg., Caerdydd, 1961)</span></li>
        <li><span class="abbrev">GGLl</span><span class="abbrev-detail">Rhiannon Ifans (gol.), <i>Gwaith Gruudd Llwyd ar Llygliwiaid
            Eraill</i>(Aberystwyth, 2000)</span></li>
        <li><span class="abbrev">GGMDi</span><span class="abbrev-detail">Barry J. Lewis (gol.), <i>Gwaith Gruudd ap Maredudd ap Dafydd, i, Canu i deulu Penmynydd</i> (Aberystwyth, 2003)</span></li>
        <li><span class="abbrev">GGMD ii</span><span class="abbrev-detail">Barry J. Lewis (gol.), <i>Gwaith Gruudd ap Maredudd ap Dafydd, ii, Canu
                Crefyddol</i> (Aberystwyth, 2005)</span></li>
        <li><span class="abbrev">GGMDiii</span><span class="abbrev-detail">Ann Parry Owen (gol.),<i> Gwaith Gruudd ap Maredudd ap Dafydd,
                iii, Canu Amrywiol</i> (Aberystwyth, 2007)</span></li>
        <li><span class="abbrev">GGrG</span><span class="abbrev-detail">Rhiannon Ifans, Ann Parry Owen,W.&nbsp;Dyfed Rowlands ac Erwain H. Rheinallt
                (goln.),<i> Gwaith Gronw Gyriog, Iorwerth ab y Cyriog, Mab Clochyddyn, Gruudd
                ap Tudur Goch ac Ithel Ddu</i> (Aberystwyth, 1997)</span></li>
        <li><span class="abbrev">GHC</span><span class="abbrev-detail">Islwyn Jones (gol.),<i> Gwaith Hywel Cilan</i> (Caerdydd, 1963)</span></li>
        <li><span class="abbrev">GHCEM</span><span class="abbrev-detail">Huw Ceiriog Jones (gol.),<i> Gwaith Huw Ceiriog ac Edward Maelor</i>(Caerdydd,
            1990)</span></li>
        <li><span class="abbrev">GHD</span><span class="abbrev-detail">A.Cynfael Lake (gol.),<i> Gwaith Huw ap Dafyddap Llywelyn ap Madog</i>
            (Aberystwyth, 1995)</span></li>
        <li><span class="abbrev">GHS</span><span class="abbrev-detail">DylanFoster Evans (gol.),<i> Gwaith Hywel Swrdwala'i deulu</i>
            (Aberystwyth, 2000)</span></li>
        <li><span class="abbrev">GIBH</span><span class="abbrev-detail"><i>GwaithIeuan Brydydd Hir (</i>gol.), M. Paul Bryant-Quinn (Aberystwyth,
            2000)</span></li>
        <li><span class="abbrev">GIF</span><span class="abbrev-detail">Howell L. Jones ac E.I. Rowlands(gol.),<i> Gwaith Iorwerth Fynglwyd</i>(Caerdydd,
            1975)</span></li>
        <li><span class="abbrev">GIG</span><span class="abbrev-detail">D.R. Johnston (gol.),<i> Gwaith Iolo Goch</i> (Caerdydd, 1988)</span></li>
        <li><span class="abbrev">GILlF</span><span class="abbrev-detail">M. Paul Bryant-Quinn (gol.), <i>Gwaith Ieuan ap Llywelyn Fychan, Ieuan
                Llwyd Brydydd a Lewys Aled</i> (Aberystwyth, 2003)</span></li>
        <li><span class="abbrev">GIRh</span><span class="abbrev-detail">R. Iestyn Daniel (gol.), <i>Gwaith Ieuan ap Rhydderch</i>
            (Aberystwyth,2003)</span></li>
        <li><span class="abbrev">GLD</span><span class="abbrev-detail">A. Cynfael Lake (gol.), <i>Gwaith Lewys Daron</i> (Caerdydd, 1994)</span></li>
        <li><span class="abbrev">GLGC</span><span class="abbrev-detail">Dafydd Johnston (gol.),<i> Gwaith Lewys Glyn Cothi</i>
            (Caerdydd,1995)</span></li>
        <li><span class="abbrev">GLM</span><span class="abbrev-detail">Eurys I. Rowlands,<i> Gwaith Lewys Mn </i>(Caerdydd, 1975)</span></li>
        <li><span class="abbrev">GLMorg</span><span class="abbrev-detail">A. CynfaelLake (gol.), <i>Gwaith Lewys Morgannwg</i> (dwy gyfrol,
            Aberystwyth, 2004)</span></li>
        <li><span class="abbrev">GLl</span><span class="abbrev-detail">R. Iestyn Daniel (gol.),<i> Gwaith Llawdden</i> (Aberystwyth, 2006)</span></li>
        <li><span class="abbrev">GLlBH</span><span class="abbrev-detail">Ann Parry Owen a Dylan Foster Evans(gol.), <i>Gwaith Llywelyn Brydydd
                Hoddnant, Dafydd ap Gwilym, Hillyn ac eraill</i> (Aberystwyth, 1996)</span></li>
        <li><span class="abbrev">GLlF</span><span class="abbrev-detail">Kathleen Anne Bramley<i> </i>et al<i>. </i>(gol.),<i> Gwaith
                Llywelyn Fardd I ac Eraill o Feirdd y Ddeuddegfed Ganrif</i> (Caerdydd, 1994)</span></li>
        <li><span class="abbrev">GLlG</span><span class="abbrev-detail">Dafydd Johnston (gol.),<i> Gwaith Llywelyn Goch ap Meurig
            Hen</i>(Aberystwyth, 1998)</span></li>
        <li><span class="abbrev">GLlLl</span><span class="abbrev-detail">Elin M. Jones (gol.),<i> Gwaith Llywarch ap Llywelyn `Prydydd
                y Moch'</i> (Caerdydd, 1989)</span></li>
        <li><span class="abbrev">GMB</span><span class="abbrev-detail">J.E. Caerwyn Williams et al<i>. </i>(gol.), <i>Gwaith Meilyr Brydydd a'i
                Ddisgynyddion</i> (Caerdydd, 1994)</span></li>
        <li><span class="abbrev">GMBr</span><span class="abbrev-detail">A. Cynfael Lake (gol.),<i> Gwaith Mathau Brwmld</i>
            (Aberystwyth,2002)</span></li>
        <li><span class="abbrev">GMD</span><span class="abbrev-detail">Huw Meirion Edwards (gol.),<i> Gwaith Madog Dwygraig</i>
            (Aberystwyth,2006)</span></li>
        <li><span class="abbrev">GMRh</span><span class="abbrev-detail">Enid Roberts (gol.), <i>Gwaith Mareduddap Rhys ai Gyfoedion</i>
            (Aberystwyth, 2003)</span></li>
        <li><span class="abbrev">GMW</span><span class="abbrev-detail">D. Simon Evans, <i>A Grammar of Middle Welsh</i> (Dublin, 1964)</span></li>
        <li><span class="abbrev">GMWL</span><span class="abbrev-detail">Timothy Lewis, <i>A Glossary of Mediaeval Welsh Law</i> (Manchester,1913)</span></li>
        <li><span class="abbrev">GO</span><span class="abbrev-detail">E. Bachellery (d.),<i> Loeuvre potique de Gutun Owain</i>(Paris,
            19501)</span></li>
        <li><span class="abbrev">GOLlM</span><span class="abbrev-detail">Eurys Rolant (gol.), <i>Gwaith Owain ap Llywelyn ab y
            Moel</i>(Caerdydd, 1984)</span></li>
        <li><span class="abbrev">GP </span><span class="abbrev-detail">G.J. Williams ac E.J. Jones (gol.),<i> Gramadegaur Penceirddiaid</i>
            (Caerdydd,1934)</span></li>
        <li><span class="abbrev">GPB</span><span class="abbrev-detail">Huw Meirion Edwards (gol.),<i> Gwaith Prydydd Breuan, Rhys ap Dafydd ab Einion,
                Hywel Ystorm, a cherddi dychan dienw o Lyfr Coch Hergest (</i>Aberystwyth,2000)</span></li>
        <li><span class="abbrev">GPC</span><span class="abbrev-detail"><i>Geiriadur Prifysgol Cymru</i> (Caerdydd, 1950)</span></li>
        <li><span class="abbrev">GPC2</span><span class="abbrev-detail"><i>Geiriadur  Prifysgol Cymru</i> (ail argraad, Caerdydd, 2003)</span></li>
        <li><span class="abbrev">GPhE</span><span class="abbrev-detail">M.Paul Bryant-Quinn (gol.),<i> Gwaith Syr Phylib Emlyn, Syr Lewys Meudwy a Mastr
                Harri ap Hywel</i> (Aberystwyth, 2001)</span></li>
        <li><span class="abbrev">GRhB</span><span class="abbrev-detail">Eurys I. Rowlands (gol.),<i> Gwaith Rhys Brydydd a Rhisiart ap Rhys
            </i>(Caerdydd,1976)</span></li>
        <li><span class="abbrev">GRhGE</span><span class="abbrev-detail">Dylan Foster Evans (gol.),<i> Gwaith Rhys Goch Eryri</i> (Aberystwyth, 2007)</span></li>
        <li><span class="abbrev">GSC</span><span class="abbrev-detail">A.Cynfael Lake (gol.),<i> Gwaith Sin Ceri</i> (Aberystwyth, 1996)</span></li>
        <li><span class="abbrev">GSCyf</span><span class="abbrev-detail">R. Iestyn Daniel (gol.), <i>Gwaith Dafydd Bach ap Madog Wladaidd 'Sypyn Cyfeiliog
                a Llywelyn ab y Moel</i> (Aberystwyth, 1998)<i> </i></span></li>
        <li><span class="abbrev">GSDT</span><span class="abbrev-detail">Rhiannon Ifans (gol.), <i>Gwaith Syr Dafydd Trefor</i> (Aberystwyth, 2005)</span></li>
        <li><span class="abbrev">GSH</span><span class="abbrev-detail">A.Cynfael Lake (gol.),<i> Gwaith Sin ap Hywel</i> (Aberystwyth, 1999)</span></li>
        <li><span class="abbrev">GSRh</span><span class="abbrev-detail">Nerys Ann Jones ac Erwain Haf Rheinallt(gol.),<i> Gwaith Sefnyn,
                Rhisierdyn,Gruudd Fychan ap Gruudd ab Ednyfed a Llywarch Bentwrch</i>
            (Aberystwyth,1995)</span></li>
        <li><span class="abbrev">GST</span><span class="abbrev-detail">Enid Roberts (gol.),<i> Gwaith Sin Tudur</i> (2 gyf., Caerdydd,1980)</span></li>
        <li><span class="abbrev">GTP</span><span class="abbrev-detail">Thomas Roberts (gol.),<i> Gwaith Tudur Penllyn ac Ieuan ap TudurPenllyn, </i>gol.
            (Caerdydd, 1958)</span></li>
        <li><span class="abbrev">Gwyn</span><span class="abbrev-detail">Llawysgrif yng nghasgliad J. Gwyneddon Davies, yn Llyfrgell Prifysgol Cymru,
            Bangor</span></li>
        <li><span class="abbrev">GyB</span><span class="abbrev-detail">Dafydd Johnston (gol.), <i>Galar y Beirdd: Marwnadau Plant/Poets'Grief: Medieval
                Welsh Elegies for Children</i> (Caerdydd, 1993)</span></li>
        <li><span class="abbrev">HCLl</span><span class="abbrev-detail">Leslie Harries (gol.), <i>Gwaith Huw Cae Llwyd ac Eraill</i>(Caerdydd, 1953)</span></li>
        <li><span class="abbrev">HPE</span><span class="abbrev-detail"><i>HistoriaPeredur vab Efrawc</i>, gol. Glenys Witchard Goetinck (Caerdydd, 1976) </span></li>
        <li><span class="abbrev">HPF</span><span class="abbrev-detail">J.Y.W. Lloyd, <i>The History of Powys Fadog,</i> (6 vols., London, 18817)</span></li>
        <li><span class="abbrev">ID</span><span class="abbrev-detail">Ifor Williams<i> </i>(gol.),<i> Casgliad o Waith Ieuan Deulwyn</i>
            (Bangor,1909)</span></li>
        <li><span class="abbrev">IGE</span><span class="abbrev-detail">Henry Lewis, Thomas Roberts ac IforWilliams (gol.), <i>Cywyddau Iolo Goch
                acEraill</i> (Bangor, 1925)</span></li>
        <li><span class="abbrev">IGE2</span><span class="abbrev-detail">Henry Lewis, Thomas Roberts ac IforWilliams (gol.), <i>Cywyddau Iolo
                Goch acEraill</i> (ail arg., Caerdydd, 1937)</span></li>
        <li><span class="abbrev">IGP</span><span class="abbrev-detail">Dafydd Johnston (ed.),<i> Iolo Goch: Poems </i>(Llandysul, 1993)</span></li>
        <li><span class="abbrev">Ioan</span><span class="abbrev-detail">`Yr Efengyl yn l Sant Ioan' yn y Testament Newydd</span></li>
        <li><span class="abbrev">JMHRS</span><span class="abbrev-detail"><i>Journalof the Merioneth Historical and Record Society, </i>1949</span></li>
        <li><span class="abbrev">John</span><span class="abbrev-detail">The Gospel according to John in theNew Testament</span></li>
        <li><span class="abbrev">Judges</span><span class="abbrev-detail">The Book of Judges in the Old Testament</span></li>
        <li><span class="abbrev">KAA 2</span><span class="abbrev-detail">Patricia Williams (gol.), <i>Kedymdeithyas Amlyn ac
                Amic </i>(Caerdydd,1982)</span></li>
        <li><span class="abbrev">1 Kings</span><span class="abbrev-detail">The First Book of the Kings in the Old Testament</span></li>
        <li><span class="abbrev">2 Kings</span><span class="abbrev-detail">The Second Book of the Kings in the Old Testament</span></li>
        <li><span class="abbrev">LBS</span><span class="abbrev-detail">S. Baring-Gould and J. Fisher, <i>The Lives of the British Saints</i> (4vols.,
            London, 190713)</span></li>
        <li><span class="abbrev">Luc</span><span class="abbrev-detail">`Yr Efengyl yn l Sant Luc' yn yTestament Newydd</span></li>
        <li><span class="abbrev">Luke</span><span class="abbrev-detail">The Gospel according to Luke in theNew Testament</span></li>
        <li><span class="abbrev">LlA</span><span class="abbrev-detail">J. Morris Jones and John Rh&ycirc;s (eds.),<i> The Elucidarium from Llyvyr
                Agkyr Llandewivrevi</i> (Oxford, 1894)</span></li>
        <li><span class="abbrev">LlB</span><span class="abbrev-detail">S.J. Williams a J.E. Powell (gol.),<i> Cyfreithiau Hywel Dda yn l Llyfr
                Blegywryd</i>(Caerdydd, 1942)</span></li>
        <li><span class="abbrev">LlCy</span><span class="abbrev-detail"><i>LlnCymru</i>, 1950</span></li>
        <li><span class="abbrev">LlGC</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Llyfrgell Genedlaethol Cymru, Aberystwyth / A manuscript
            in the collection of theNational Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">LlI</span><span class="abbrev-detail">Aled Rhys Wiliam (ed.), <i>Llyfr Iorwerth</i> (Cardi, 1960)</span></li>
        <li><span class="abbrev">Llst</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Llanstephan, yn Llyfrgell Genedlaethol Cymru,
            Aberystwyth / A manuscript in the Llanstephan collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">Marc</span><span class="abbrev-detail">`Yr Efengyl yn l Sant Marc' yn y Testament Newydd </span></li>
        <li><span class="abbrev">Mark</span><span class="abbrev-detail">The Gospel according to Mark in the New Testament</span></li>
        <li><span class="abbrev">Mathew</span><span class="abbrev-detail">`Yr Efengyl yn l Sant Mathew' yn y Testament Newydd </span></li>
        <li><span class="abbrev">Matthew</span><span class="abbrev-detail">The Gospel according to Matthew in the New Testament</span></li>
        <li><span class="abbrev">MCF</span><span class="abbrev-detail">Y Mynegai i Farddoniaeth Gymraeg y Llawysgrifau / The Index to Welsh
            Poetry inManuscript</span></li>
        <li><span class="abbrev-link">&lt;<a target="_blank" href="http://maldwyn.llgc.org.uk">http://maldwyn.llgc.org.uk</a>&gt;</span></li>
        <li><span class="abbrev">MED</span><span class="abbrev-detail"><i>Middle English Dictionary </i>(Michigan, 1963)</span></li>
            <li><span class="abbrev">MonW</span><span class="abbrev-detail">Monastic Wales &lt;<a target="_blank" href="http://www.monasticwales.org">http://www.monasticwales.org</a>&gt;</span></li>
        <li><span class="abbrev">MontColl</span><span class="abbrev-detail"><i>Collections Historical and Archaeological... by the Powysland Club,
            </i>1868</span></li>
        <li><span class="abbrev">Mos</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Mostyn, yn Llyfrgell Genedlaethol Cymru, Aberystwyth / A
            manuscript in the Mostyn collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">MWM</span><span class="abbrev-detail">Daniel Huws, <i>Medieval Welsh Manuscripts<b> </b></i>(Cardiand Aberystwyth,
            2000)</span></li>
        <li><span class="abbrev">NCE</span><span class="abbrev-detail"><i>NewCatholic Encyclopaedia </i>(New York, 1967-79)</span></li>
        <li><span class="abbrev">NCLW</span><span class="abbrev-detail">Meic Stephens (ed.), <i>The New Companion to the Literature of Wales</i>(Cardiff,
            1998)</span></li>
        <li><span class="abbrev">NLWJ</span><span class="abbrev-detail"><i>National Library of Wales Journal, </i>1939</span></li>
        <li><span class="abbrev">OBWV</span><span class="abbrev-detail">ThomasParry (ed.),<i> The Oxford Book of Welsh Verse</i> (Oxford,
            1976)</span></li>
        <li><span class="abbrev">OCD3</span><span class="abbrev-detail">Simon Hornblower and Antony Spawforth(eds.),<i> The Oxford Classical
                Dictionary</i>(third ed., Oxford, 1996)</span></li>
        <li><span class="abbrev">ODCC3</span><span class="abbrev-detail">F.L. Cross and E.A. Livingstone (eds.),<i> The Oxford Dictionary of
                the Christian Church</i> (third ed., Oxford, 1967, revised 2005)</span></li>
        <li><span class="abbrev">OED2</span><span class="abbrev-detail"><i>The Oxford English Dictionary</i> (second ed., Oxford, 1989)</span></li>
        <li><span class="abbrev">OED Online</span><span class="abbrev-detail">The Oxford English Dictionary </span></li>
            <li><span class="abbrev-link">&lt;<a target="_blank" href="http://www.oed.com">http://www.oed.com</a>&gt;</span></li>
        <li><span class="abbrev">PACF</span><span class="abbrev-detail">J.E. Griffith, <i>Pedigrees of Anglesey and Carnarvonshire Families</i> (Bangor,
            1914)</span></li>
        <li><span class="abbrev">Pen</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Peniarth, ynLlyfrgell Genedlaethol Cymru, Aberystwyth /
            A manuscript in the Peniarth  collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">Peniarth49</span><span class="abbrev-detail">E. Stanton Roberts a W.J. Gruffydd (gol.), <i>Peniarth 49</i>
            (Caerdydd, 1929)</span></li>
        <li><span class="abbrev">Peniarth67</span><span class="abbrev-detail">E. Stanton Roberts a W.J. Gruffydd (ed.), <i>Peniarth 67</i>
            (Cardiff, 1918)</span></li>
        <li><span class="abbrev">Peniarth76</span><span class="abbrev-detail">E. Stanton Roberts a W.J. Gruffydd (gol.),<i> Peniarth 76</i>
            (Caerdydd, 1927)</span></li>
        <li><span class="abbrev">PKM </span><span class="abbrev-detail">Ifor Williams (gol.),<i> Pedeir Keinc y Mabinogi</i> (Caerdydd, 1930)</span></li>
        <li><span class="abbrev">Psalsm</span><span class="abbrev-detail">The Psalms in the Old Testament</span></li>
        <li><span class="abbrev">RB</span><span class="abbrev-detail">John Rhs and J. Gwenogvryn Evans(eds.),<i> The Text of the Bruts from the  Red Book
                of Hergest</i> (Oxford, 1890)</span></li>
        <li><span class="abbrev">RCAHM (Anglesey)</span><span class="abbrev-detail"><i>An Inventory of the Ancient Monuments in Wales and
                Monmouthshire: Anglesey</i> (London, 1937)</span></li>
        <li><span class="abbrev">RCAHM (Caernarvonshire) </span><span class="abbrev-detail"><i>An Inventory of the Ancient Monuments in Wales and
                Monmouthshire: Caernarvonshire</i> (3 vols.,London, 1956, 1960, 1964)</span></li>
        <li><span class="abbrev">RCAHM (Flint)</span><span class="abbrev-detail"><i>An Inventory of the Ancient Monuments in Wales and Monmouthshire,
                    Vol II: County of Flint</i> (London, 1912)</span></li>
        <li><span class="abbrev">RCAHM (Merionethshire) </span><span class="abbrev-detail"><i>An Inventory of Ancient Monuments in Wales and Monmouthshire:
            </i> Merionethshire (London, 1921)</span></li>
        <li><span class="abbrev">RepWM</span><span class="abbrev-detail">Daniel Huws, <i>Repertory of Welsh Manuscripts </i>(iw gyhoeddi)</span></li>
        <li><span class="abbrev">Revelation</span><span class="abbrev-detail">The Revelation to John in the New Testament</span></li>
        <li><span class="abbrev">RM</span><span class="abbrev-detail">John Rhs and J. Gwenogvryn Evans(eds.),<i> The Text of the Mabinogion from the Red
                Book of Hergest</i>(Oxford, 1887)</span></li>
        <li><span class="abbrev">RWM</span><span class="abbrev-detail">J. Gwenogvryn Evans (ed.), <i>Report on Manuscripts in the Welsh
            Language</i>(London, 18981910)</span></li>
        <li><span class="abbrev">Salmau</span><span class="abbrev-detail">Llyfr y Salmau yn yr Hen Destament </span></li>
        <li><span class="abbrev">SC</span><span class="abbrev-detail"><i>StudiaCeltica, </i>1966</span></li>
        <li><span class="abbrev">SoldierLME</span><span class="abbrev-detail">The Soldier in later Medieval England </span></li>
        <li><span class="abbrev-link">&lt;<a target="_blank" href="http://www.medievalsoldier.org">http://www.medievalsoldier.org</a>&gt;</span></li>
        <li><span class="abbrev">Stowe</span><span class="abbrev-detail">Llawysgrif o gasgliad Stowe yn yLlyfrgell Brydeinig</span></li>
        <li><span class="abbrev">TA</span><span class="abbrev-detail">T. Gwynn Jones (gol.),<i> Gwaith Tudur Aled</i> (Caerdydd, 1926)</span></li>
        <li><span class="abbrev">TC</span><span class="abbrev-detail">T.J.Morgan, <i>Y Treigladau au Cystrawen </i>(Caerdydd,1952)</span></li>
        <li><span class="abbrev">TCHS</span><span class="abbrev-detail"><i>Transactionsof the Caernarvonshire Historical Society, </i>1939</span></li>
        <li><span class="abbrev">TCHSDd</span><span class="abbrev-detail"><i>TrafodionCymdeithas Hanes Sir Ddinbych, </i>1952</span></li>
        <li><span class="abbrev">TCHSG</span><span class="abbrev-detail"><i>Trafodion Cymdeithas Hanes Sir Gaernarfon,</i>1939</span></li>
        <li><span class="abbrev">TDHS</span><span class="abbrev-detail"><i>Transactionsof the Denbighshire Historical Society</i>, 1952<i></i></span></li>
        <li><span class="abbrev">THSC</span><span class="abbrev-detail"><i>TheTransactions of the Honourable Society of Cymmrodorion,</i> 1892/3</span></li>
        <li><span class="abbrev">TLlM</span><span class="abbrev-detail">G.J. Williams, <i>Traddodiad Llenyddol Morgannwg</i> (Caerdydd, 1948)</span></li>
        <li><span class="abbrev">TYP3</span><span class="abbrev-detail">Rachel Bromwich (ed.),<i> Trioedd Ynys Prydein: The Triads of
                the Island of Britain</i> (third ed., Cardi, 2006)</span></li>
        <li><span class="abbrev">WATU </span><span class="abbrev-detail">Melville Richards, <i>Welsh Administrative and</i>
            <i>TerritorialUnits</i> (Cardi, 1969)</span></li>
        <li><span class="abbrev">WBOnline</span><span class="abbrev-detail">Welsh Biography Online &lt;<a target="_blank" href="http://yba.llgc.org.uk/en/index.html">http://yba.llgc.org.uk/en/index.html</a>&gt;</span></li>
        <li><span class="abbrev">WCD</span><span class="abbrev-detail">P.C. Bartrum, <i>A Welsh Classical Dictionary: People in History and Legend up to
                about A.D. 1000</i> (Aberystwyth, 1993)</span></li>
        <li><span class="abbrev">WG</span><span class="abbrev-detail">J. Morris Jones, <i>A Welsh Grammar</i> (Oxford, 1913)</span></li>
            <li><span class="abbrev">WG1</span><span class="abbrev-detail">P.C.Bartrum, <i>Welsh Genealogies AD 300-1400 </i>(Cardiff, 1974)</span></li>
        <li><span class="abbrev">WG2</span><span class="abbrev-detail">P.C. Bartrum, <i>Welsh Genealogies AD 1400-1500</i> (Aberystwyth, 1983)</span></li>
        <li><span class="abbrev">WHR</span><span class="abbrev-detail"><i>The Welsh History Review, </i>1960-</span></li>
        <li><span class="abbrev">WM</span><span class="abbrev-detail">J. Gwenogvryn Evans (ed.), <i>The White Book Mabinogion </i>(Pwllheli,1907;
            adargraffiad, Caerdydd, 1973)</span></li>
        <li><span class="abbrev">Wy</span><span class="abbrev-detail">Llawysgrif yng nghasgliad Wynnstay, yn Llyfrgell Genedlaethol Cymru, Aberystwyth / A
            manuscript in the Wynnstay collection at the National Library of Wales, Aberystwyth</span></li>
        <li><span class="abbrev">YB</span><span class="abbrev-detail">J.E. Caerwyn Williams (gol.), <i>Ysgrifau Beirniadol,</i> (Dinbych, 1965 )</span></li>
        <li><span class="abbrev">YBH</span><span class="abbrev-detail">Morgan Watkin (gol.),<i>Ystorya Bown de Hamtwn</i>, (Caerdydd, 1958)</span></li>
        <li><span class="abbrev">YCM2</span><span class="abbrev-detail">Stephen J.&nbsp;Williams (gol.),<i> Ystorya de Carolo Magno</i> (ail
            arg.,Caerdydd, 1968)</span></li>
        <li><span class="abbrev">YE</span><span class="abbrev-detail">R. Iestyn Daniel (gol.),<i> Ymborth yr Enaid</i> (Caerdydd, 1995)</span></li>
        <li><span class="abbrev">YEPWC</span><span class="abbrev-detail">Gruffydd Aled Williams (gol.),<i> Ymryson Edmwnd Prys a Wiliam Cynwal</i>
            (Caerdydd, 1986)</span></li>
        <li><span class="abbrev">YGIV</span><span class="abbrev-detail">GwilymLloyd Edwards (gol.),<i> Ystorya Gwlat Ieuan Vendigeit</i> (Caerdydd,
            1999)</span></li>
        <li><span class="abbrev">YMTh</span><span class="abbrev-detail">A.O.H. Jarman (gol.), <i>Ymddiddan Myrddin a Thaliesin</i> (Caerdydd, 1951)</span></li>
       </ul>	</div>
</div>
<a class="trigger2" id="trigger2" href="#"></a>
<!-- sliding left panel end -->
{% endblock draw-abbrev %}

