{% block first-line-dropdown %}
{% load i18n %}

<select id="first-line" name="first-line">
    <option id="first-line-dropdown" value="#">{% trans "Black Bar First Line Dropdown Menu Choice" %}...</option>
    <option value="056">A adeilo hudoliaeth,</option>
    <option value="022">A oes unplas yn siampler?</option>
    <option value="121">Adda Fras, wylwas, a elwyn' &ndash; yn fardd,</option>
    <option value="007">Af &acirc; mawl a fo melys</option>
    <option value="124">Afanc, rhyw forgranc rhefrgrin &ndash; rhumenwynt,</option>
    <option value="086">Af dduw Sul, foddus aelwyd,</option>    
    <option value="023">Ai gwledd a wnaeth f'arglwyddwawr</option>
    <option value="005">ArglwyddRys, eryr gwleddrym,</option>
    <option value="078">Arglwyddwedd ar goel addas,</option>
    <option value="079">Awst y llas fy nghastell i,</option>
    <option value="051">Bron draw biau'r enw a drig,</option>
    <option value="032">Brysiaf, lle mae browysedd,</option>
    <option value="040">Caewyd deurudd caterwen,</option>
    <option value="014">Caraf urddol Caerfyrddin,</option>
    <option value="008">Cerais y mab &acirc;'r corun,</option>
    <option value="075">Cwncwerwyr oedd y gw&ycirc;r gynt,</option>
    <option value="083">Chwerddais am ben Sais o'r sir,</option>
    <option value="013">Dafydd, brydydd a brawdwr,</option> 
    <option value="068">Dafydd fab, difudd ei fod,</option>         
    <option value="017">Dafydd Mathau, bendefig,</option>
    <option value="090">Dafydd o braffwydd Broffwyd</option>
    <option value="037">Dafydd, mae'r beirdd yn dyfod,</option>
    <option value="018a">Darogan fydd a ganwyf,</option>
    <option value="028">Dau dir, ni newidiwyd un,</option>
    <option value="024">Dawns o Bowls! Doe'n ysbeiliwyd,</option>
    <option value="123">Deffro Twm gidwm, gedyrn &ndash; dy ddannedd,</option>
    <option value="109">Deliais, o glwyf a dolur</option>
    <option value="044">Deubeth a red drwy'r gwledydd,</option>
    <option value="062">Dilyd henw deiliad hynwyf,</option>
    <option value="045">Diwedd hen fu 'r fargen fau,</option>
    <option value="036">Doe darfu'r Deau derfyn,</option>
    <option value="084">Duw a roes ym o dir saint</option>    
    <option value="052">Duw Rh&ecirc;n dug Edwart Frenin,</option>
    <option value="042">Dwfr Alwen doe fu'r wylaw,</option>
    <option value="073">Dyn traws f&ucirc;m yn dwyn tros f&ocirc;r</option>
    <option value="009">Dyn wyf doe a anafwyd,</option>
    <option value="046b">Eich rhybudd 'r ydwy', &acirc; chribau &ndash; rhedyn</option>
    <option value="053">Elen aur llen o'r Llannerch</option>
    <option value="041">Er treulio punt yn Llundain,</option>
    <option value="018">Ewch yn iach, ni chwenychaf</option>
    <option value="046a">Fy nhad oedd gachiad, guchiau &ndash; tylluan,</option>
    <option value="101a">Gutun y Glyn, a fu glaf,</option>
    <option value="101">Gwae a gynhaliodd i gyd</option>
    <option value="119">Gwae'r gwan dau oedran nid edrych, &ndash; ni chwardd,</option>
    <option value="016">Gwn waith, o gariad gwen &wcirc;yl,</option>
    <option value="122">Gwylliad, grym eirchiad, gorau marchog &ndash; gynt</option>
    <option value="026">Gynt y rhoed yn gynta' rhan</option>
    <option value="107">Hawdd fyd heddiw i fwydau,</option>
    <option value="092">Hywel, ni chysgaf haeach,</option>
    <option value="071">I Gelli-wig ac i'w llys</option>
    <option value="089">I gilio rhag ei elyn</option>
    <option value="038">Iechyd i &wcirc;r uchod &ecirc;l</option>
    <option value="085">Iolo, tuthiodd at Ithael,</option>
    <option value="012">Llawen wyf i'm plwyf a'm plas &ndash; diofal,</option>
    <option value="104">Llawer nos, llew'r Waun Isaf,</option>
    <option value="033">Lle nid da lliw onid du,</option>
    <option value="111">Llwyddiant i'r tenant a'r tai &ndash; a'r wengaer</option>
    <option value="105">Llydan oedd gastell Edwart</option>
    <option value="113">Llys rydd ym y sydd, ansoddau &ndash; llu dalm,</option>
    <option value="064">Llywygais garllaw eigion,</option>
    <option value="082">Mae arch yn Ystrad Marchell</option>
    <option value="120">Mae arofyn am ryfel</option>
    <option value="098">Mae ceidwad i'n gwlad a'n gwledd,</option>
    <option value="034">Mae dawn Duw i'm dyn diwael,</option>
    <option value="115">Mae deusant i'm dewisaw,</option>
    <option value="110">Mae eryr ar holl w&ycirc;r ll&ecirc;n</option>
    <option value="055">Mae gwahawdd ym a gohir</option>
    <option value="063">Mae heddiw ym wahoddion</option>
    <option value="081">Mae i'm cefn er ys pythefnos</option>
    <option value="065">Mae llef oer, mae llifeiriaint</option>
    <option value="116">Mae poen ym a hap ennyd,</option>
    <option value="059">Mae un ceidwad mewn cadair</option>
    <option value="118">Mae un cun yma i'n cynnal,</option>
    <option value="117">Mae'r henwyr? Ai meirw'r rheini?</option>
    <option value="029">Mae'r tarw mawr o'r Mortmeriaid?</option>
    <option value="054">Marw Dafydd y sydd fal saeth &ndash; i'm esgyrn</option>
    <option value="049">Mawr fu Hywel a Meurig</option>
    <option value="050">Mawr fu'r cri am y Trihael,</option>
    <option value="020">Mawr yw dysg (yno mae'r da)</option>
    <option value="087">Mawr yw'r gair am y teirodd,</option>
    <option value="077">Mi a euthum i 'Mwythig</option>
    <option value="047">Mi a welais, mau wylaw,</option>
    <option value="060">Milwr a g&acirc;r moli'r gw&ycirc;dd,</option>
    <option value="088">Mis drwg a fu 'm Mhowys draw,</option>
    <option value="039">Mredudd, ai yma'r ydwyd?</option>
    <option value="058">Mynnwn 'y mod mewn un man,</option>
    <option value="080">Ni chair ustus na Christiawn</option>
    <option value="093">Ni fynnaf ataf llei notier &ndash; gywely,</option>
    <option value="095">Ni phery stad na phwrs dyn</option>
    <option value="068b">'N&ocirc;l bwrw trosol, peri trwsio &ndash; 'i ddorglwyd</option>    
    <option value="046">Och w&ycirc;r, a glywsoch, werin, &ndash; y damwain,</option>
    <option value="114">Oed trywyr yt, Trahaearn,</option>
    <option value="001">Oer oedd weled urddolion</option>
    <option value="108">Ordain ar y deon wyf,</option>
    <option value="003">Pan sonier i'n amser ni</option>
    <option value="097">Pererin piau'r awron</option>
    <option value="043">Prelad ar ein gwlad o Glwyd &ndash; i Ddyfrdwy,</option>
	<option value="070">Pwy'r mab ll&ecirc;n p&ecirc;r ym mhob llys?</option>    
    <option value="074">Pwy sy geidwad teirgwlad hy,</option>    
    <option value="100">Rhobert, uwch rhiwiau Aber,</option>
    <option value="015">Rhoist, lew, win a rhost lawer,</option>    
    <option value="061">Rhoi t&ycirc;'r wyf fry ar y fron,</option>
    <option value="020a">Rhyfedd ydiw arfeddyd</option>
    <option value="106">Sain Cristoffr a fu'n offrwm</option>
    <option value="019">S&acirc;l rhugl yn seiliaw Rhaglan,</option>    
    <option value="011">Seythydd wyf, od ymsaethaf</option>
    <option value="031">Siancyn, wayw ennyn annwyd,</option>
    <option value="099">Sieffrai, a yf osai Ffrainc,</option>
    <option value="044a">Sulien a'th geidw, Syr Bened,</option>
    <option value="067">Sywidw Asaf ydwyd,</option>
    <option value="025">Tair blynedd rhyfedd fu'r rhain:</option>
    <option value="004">Teimlwr gw&ycirc;r, teml i&ocirc;r gwiwrent,</option>        
    <option value="030">Tlos fu anrheg Taliesin,</option>
    <option value="021">Tri llu aeth i Gymru gynt,</option>
    <option value="125">Tri llu, oergwymp tra llwyrgoll,</option>
    <option value="065a">Tristach yw Cymry trostyn',</option>
    <option value="027">Tyfodd g&wcirc;r at Dafydd Gam</option>
    <option value="096">Tyfodd un o blant difeth</option>
    <option value="072">Wylofus wyf fal afon,</option>
    <option value="035">Y du hydr o'r Deheudir,</option>
    <option value="068a">Y dyn a sigwyd ei au</option>
    <option value="091">Y g&wcirc;r ar war y garreg</option>
    <option value="057">Y g&wcirc;r mawr a egyr M&ocirc;n</option>
    <option value="069">Y Grog i bob dyn o gred</option>   
    <option value="048">Y gwrda o gywirdeb</option>     
    <option value="112">'Y nghred, pei gallwn redeg</option>    
    <option value="094">Y llwyn gwydr yn Llangedwyn,</option>
    <option value="006">Y mae dolur i'm dilyn,</option>
    <option value="002">Y mae glaw am a glywais</option>
    <option value="010">Y mae g&wcirc;r ym i'w garu,</option>
    <option value="066">Y mae llwdn yma llednoeth</option>
    <option value="076">Yn dripheth y'th wn&acirc;nt, Ruffudd,</option>
    <option value="126">Yn iach, awen na chywydd!</option>
    <option value="102">Yn ieuanc b&ucirc;m flaeneuwr,</option>
    <option value="103">Yr eryrod arwraidd,</option>
</select>

{% endblock first-line-dropdown%}

