{% load i18n %}

<div class="span-24 last" id="footer">
	<div id="hidden-length-alert-text">{% trans "JavaScript Message Invalid Field Length" %} </div>
	<div class="span-24 last" id="funding-logos">
		<a href="http://www.llgc.org.uk/"><img src="/static/img/logo/glw-logo.gif" alt="GLW Logo"></a>&nbsp;&nbsp;&nbsp;
		<a href="http://www.wales.ac.uk/en/CentreforAdvancedWelshCelticStudies/IntroductiontotheCentre.aspx"><img src="/static/img/logo/uw-logo.png" alt="University of Wales Logo"></a>&nbsp;&nbsp;&nbsp;	
		<a href="http://www.ahrc.ac.uk"><img src="/static/img/logo/ahrc-small.png" alt="AHRC Logo"></a>
		<a href="http://www.swansea.ac.uk"><img src="/static/img/logo/su_logo.png" alt="Swansea University Logo"></a>&nbsp;&nbsp;		
		<a href="http://www.rcahmw.gov.uk/"><img src="/static/img/logo/RCAHMW_logo_web.png" alt="RCAHMW Logo"></a>
	</div>
	<div class="span-24 last" id="copyright">{% trans "Footer Copyright Notice" %}
	</div>
	<div class="span-24 last">
		<hr class="space" />
	</div>
</div>

