<script type="text/javascript"
	src="//code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/static/js/gutor.js"></script>
<script type="text/javascript" src="/static/js/jquery-gutor.js"></script>
<script type="text/javascript" src="/static/js/raphael-min.js"></script>

<script type="text/javascript" src="/static/js/vocab.js"></script>
<script type="text/javascript" src="/static/js/jquery.tinycarousel.js"></script>
<script type="text/javascript" src="/static/js/DoubleTapToGo.js"></script>
<script type="text/javascript" src="/static/js/jQuery.jPlayer.2.5.0/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/static/js/css-menu/ccs-menu_jquery.js"></script>