{% block poem-dropdown %}
<select id="poem" name="poem">
   <option value="#">Choose...</option>
   <option value="001">1 &ndash; In praise of Sir Richard Gethin ap Rhys Gethin of Builth, captain of Mantes in France</option>
   <option value="002">2 &ndash; In celebration of the freedom of Sir Richard Gethin ap Rhys Gethin of Builth, captain of Mantes in France</option>
   <option value="003">3 &ndash; In praise of Matthew Gough of Maelor</option>
   <option value="004">4 &ndash; The battle of the bards with the wine of Thomas ap Watkin of Llanddewi Rhydderch</option>
   <option value="005">5 &ndash; The illness of Abbot Rhys ap Dafydd of Strata Florida</option>
   <option value="006">6 &ndash; Complaint about Abbot Rhys ap Dafydd's absence from Strata Florida</option>
   <option value="007">7 &ndash; In praise of Abbot Rhys ap Dafydd of Strata Florida</option>
   <option value="008">8 &ndash; Ode in praise of Abbot Rhys ap Dafydd of Strata Florida</option>
   <option value="009">9 &ndash; Elegy for Abbot Rhys ap Dafydd of Strata Florida</option>
   <option value="010">10 &ndash; In praise of Hywel ap Llywelyn Fychan of Glyn Aeron</option>
   <option value="011">11 &ndash; In praise of Rhys ap Dafydd of Uwch Aeron</option>
   <option value="012">12 &ndash; Ode in praise of Dafydd ap Tomas of Blaen-tren</option>
   <option value="013">13 &ndash; In praise of Dafydd ap Tomas of Blaen-tren</option>
   <option value="014">14 &ndash; In praise of Sir Rhys ap Tomas of Abermarlais</option>
   <option value="015">15 &ndash; In praise of Rhys ap Siancyn of Glyn-nedd</option>
   <option value="016">16 &ndash; In praise of Sir William, priest of Merthyr Tydfil</option>
   <option value="017">17 &ndash; In praise of David Mathew of Llandaf</option>
   <option value="018">18 &ndash; Answering a charge of flattery brought by Hywel Dafi</option>
   <option value="018a">18a &ndash; Hywel Dafi accuses Guto'r Glyn of untruthfulness in his poetry for Morgan ap Roger of Gwynllwg</option>   
   <option value="019">19 &ndash; In praise of Sir William ap Thomas of Raglan</option>
   <option value="020a">20a &ndash; Hywel Dafi's reply</option>
   <option value="020">20 &ndash; The bardic dispute between Guto'r Glyn and Hywel Dafi at the court of Sir William Herbert</option>
   <option value="021">21 &ndash; In praise of William Herbert of Raglan, first earl of Pembroke, after the capture of Harlech castle, 1468</option>
   <option value="022">22 &ndash; In praise of Coldbrook, the home of Sir Richard Herbert</option>
   <option value="023">23 &ndash; In praise of William Herbert of Raglan, first earl of Pembroke</option>
   <option value="024">24 &ndash; Elegy for William Herbert of Raglan, first earl of Pembroke</option>
   <option value="025">25 &ndash; To urge William Herbert, second earl of Pembroke, to avenge his father</option>
   <option value="026">26 &ndash; To comfort Ann Herbert, countess of Pembroke, after the death of her husband</option>
   <option value="027">27 &ndash; In praise of Sir Walter Herbert</option>
   <option value="028">28 &ndash; In praise of William Herbert of Pembroke and Troy</option>
   <option value="029">29 &ndash; To urge Edward IV to restore order in Wales</option>
   <option value="030">30 &ndash; In praise of Phylib ap Gwilym Llwyd of Tregunter</option>
   <option value="031">31 &ndash; In praise of Siancyn Havard of Brecon</option>
   <option value="032">32 &ndash; A visit to Henry Griffith of Newcourt</option>
   <option value="033">33 &ndash; In praise of the black hair of Henry Griffith of Newcourt</option>
   <option value="034">34 &ndash; The dispute between Henry Griffith of Newcourt and Ieuan Gethin for the love of Gwladus of Glyn-nedd</option>
   <option value="035">35 &ndash; The miserliness of Henry Griffith of Newcourt</option>
   <option value="036">36 &ndash; Elegy for Henry Griffith of Newcourt</option>
   <option value="037">37 &ndash; In praise of Dafydd Llwyd ap Dafydd of Newtown</option>
   <option value="038">38 &ndash; In praise of Vaynor, the home of Edward ap Hywel and Gwenll&iuml;an daughter of Rhys</option>
   <option value="039">39 &ndash; Request for a horse from Maredudd ab Ifan Fychan of Cedewain on behalf of Rheinallt ap Rhys Gruffudd</option>
   <option value="040">40 &ndash; Elegy for Hywel ab Owain of Llanbryn-mair</option>
   <option value="041">41 &ndash; In praise of the silver hand of Si&ocirc;n Dafi</option>
   <option value="042">42 &ndash; Elegy for Einion ap Gruffudd of Llechwedd Ystrad</option>
   <option value="043">43 &ndash; Ode in praise of Sir Benet, parson of Corwen</option>
   <option value="044">44 &ndash; Droving</option>   
   <option value="044a">44a &ndash; Tudur Penllyn's response to Guto'r Glyn and his advice to Sir Benet</option>
   <option value="045">45 &ndash; Guto'r Glyn's response to Tudur Penllyn</option>
   <option value="046">46 &ndash; Guto'r Glyn's response to Ieuan ap Tudur Penllyn</option>   
   <option value="046a">46a &ndash; Satire by Ieuan ap Tudur Penllyn of Tudur Penllyn</option>
   <option value="046b">46b &ndash; Tudur Penllyn's reply to the poets who satirized him</option>
   <option value="047">47 &ndash; Elegy for Sir Benet, parson of Corwen</option>
   <option value="048">48 &ndash; In praise of Ieuan ab Einion of Cryniarth and his family</option>
   <option value="049">49 &ndash; In praise of Meurig Fychan ap Hywel Selau of Nannau, his wife Angharad daughter of Dafydd, their son Dafydd and his wife Elen daughter of Hywel</option>
   <option value="050">50 &ndash; Elegy for Meurig Fychan ap Hywel Selau and his wife Angharad daughter of Dafydd of Nannau</option>
   <option value="051">51 &ndash; To thank Dafydd ap Meurig Fychan and Elen daughter of Hywel of Nannau for a horse</option>
   <option value="052">52 &ndash; Elegy for Gruffudd Fychan ap Gruffudd of Corsygedol</option>
   <option value="053">53 &ndash; Request for an Irish mantle from Elen daughter of Robert Puleston of Llannerch</option>
   <option value="054">54 &ndash; Elegy for Dafydd Nanmor and Ieuan Deulwyn</option>
   <option value="055">55 &ndash; In praise of Wiliam ap Gruffudd of Cochwillan</option>
   <option value="056">56 &ndash; In praise of Wiliam Fychan ap Gwilym of Penrhyn</option>
   <option value="057">57 &ndash; In praise of Wiliam Fychan ap Gwilym of Penrhyn and his three regions of influence</option>
   <option value="058">58 &ndash; To thank Rhisiart Cyffin ab Ieuan Llwyd, dean of Bangor, for a purse</option>
   <option value="059">59 &ndash; To thank Rhisiart Cyffin ab Ieuan Llwyd, dean of Bangor, for a rosary</option>
   <option value="060">60 &ndash; Request for a hawk from Huw Bulkeley ap Wiliam Bulkely of Beaumaris on behalf of Rhisiart Cyffin ab Ieuan Llwyd, dean of Bangor</option>
   <option value="061">61 &ndash; Request for slates from Rhisiart Cyffin ab Ieuan Llwyd, dean of Bangor, on behalf of Sir Gruffudd ab Einion of Henllan</option>
   <option value="062">62 &ndash; In praise of Dafydd ap Gwilym of Llwydiarth</option>
   <option value="063">63 &ndash; In praise of the five sons of Llywelyn ap Hwlcyn of Anglesey</option>
   <option value="064">64 &ndash; In praise of Huw Lewys ap Llywelyn of Prysaeddfed when he nearly drowned</option>
   <option value="065a">65a &ndash; Satire by Llywelyn ap Gutun of Guto'r Glyn when he was alleged to have drowned</option>
   <option value="065">65 &ndash; Reply to Llywelyn ap Gutun's satire</option>
   <option value="066">66 &ndash; Satire of Dafydd ab Edmwnd</option>
   <option value="067">67 &ndash; Satire of Dafydd ab Edmwnd</option>
   <option value="068a">68a &ndash; Satire on Guto'r Glyn's testicles by Dafydd ab Edmwnd</option>
   <option value="068">68 &ndash; Satire on Dafydd ab Edmwnd's penis</option>   
   <option value="068b">68b &ndash; Satire by Dafydd ab Edmwnd of Guto'r Glyn</option>
   <option value="069">69 &ndash; A supplication to the Rood in Chester on behalf of Dafydd ab Ieuan</option>
   <option value="070">70 &ndash; In praise of Sir Hywel ap Dai of Northop</option>
   <option value="071">71 &ndash; In praise of Tomas Salbri ap Harri Salbri of Lleweni and his family</option>
   <option value="072">72 &ndash; Elegy for Si&ocirc;n ap Madog Puleston of Hafod-y-wern</option>
   <option value="073">73 &ndash; Request for a sallet from Wiliam Rodn ap Richard Rodn of Holt on behalf of Dafydd Bromffild of Bersham</option>
   <option value="074">74 &ndash; In praise of Rhosier ap Si&ocirc;n Puleston of Emral</option>
   <option value="075">75 &ndash; In praise of Si&ocirc;n Hanmer ap Si&ocirc;n Hanmer of Halghton and Llai</option>
   <option value="076">76 &ndash; Request for a hunting knife from Gruffudd ap Rhys of Yale on behalf of Si&ocirc;n Hanmer ap Si&ocirc;n Hanmer of Halghton and Llai</option>
   <option value="077">77 &ndash; In praise of Abbot Thomas of Shrewsbury</option>
   <option value="078">78 &ndash; In praise of John Talbot, second earl of Shrewsbury</option>
   <option value="079">79 &ndash; In praise of Sir Roger Kynaston ap Gruffudd of Knockin</option>
   <option value="080">80 &ndash; In praise of Sir John Burgh ap Huw Burgh of Wattlesborough</option>
   <option value="081">81 &ndash; To thank Joan Burgh daughter of William Clopton of Wattlesborough for her care</option>
   <option value="082">82 &ndash; Elegy for Llywelyn ab y Moel</option>
   <option value="083">83 &ndash; In praise of Gruffudd Fychan ap Gruffudd Deuddwr of Collfryn</option>
   <option value="084">84 &ndash; In praise of Sir Si&ocirc;n Mechain, parson of Llandrinio</option>
   <option value="085">85 &ndash; In praise of the new house of Sir Si&ocirc;n Mechain, parson of Llandrinio</option>
   <option value="086">86 &ndash; In praise of Dafydd Llwyd ap Gruffudd of Abertanad</option>
   <option value="087">87 &ndash; To thank Catrin daughter of Maredudd of Abertanad and her husband, Dafydd Llwyd ap Gruffudd, for a purse</option>
   <option value="088">88 &ndash; Elegy for Gweurful daughter of Madog of Abertanad</option>
   <option value="089">89 &ndash; Elegy for Dafydd Llwyd ap Gruffudd of Abertanad</option>
   <option value="090">90 &ndash; On rebuilding Hywel ab Ieuan Fychan's house at Moeliwrch</option>
   <option value="091">91 &ndash; In praise of Hywel ab Ieuan Fychan of Moeliwrch</option>
   <option value="092">92 &ndash; To heal Hywel ab Ieuan Fychan of Moeliwrch's knee</option>
   <option value="093">93 &ndash; Debate poems between Ieuan ap Gruffudd Leiaf and Guto'r Glyn</option>
   <option value="094">94 &ndash; In praise of Dafydd Cyffin ab Iolyn of Llangedwyn</option>
   <option value="095">95 &ndash; In praise of Maredudd ap Hywel of Oswestry</option>
   <option value="096">96 &ndash; In praise of Sieffrai Cyffin ap Morus of Oswestry</option>
   <option value="097">97 &ndash; In praise of Sieffrai Cyffin ap Morus of Oswestry and his wife, Si&acirc;n daughter of Lawrence Stanstry</option>
   <option value="098">98 &ndash; Request for a brigandine from Sieffrai Cyffin ap Morus of Oswestry on behalf of Dafydd Llwyd ap Gruffudd of Abertanad</option>
   <option value="099">99 &ndash; Request for a hunting horn from Sieffrai Cyffin ap Morus of Oswestry on behalf of Si&ocirc;n Eutun ap Si&acirc;ms Eutun of Parc Eutun</option>
   <option value="100">100 &ndash; Request for two greyhounds by Rhobert ab Ieuan Fychan of Coetmor on behalf of Sieffrai Cyffin ap Morus of Oswestry</option>
   <option value="101a">101a &ndash; Satire by Syr Rhys of Guto'r Glyn when he was ill at home at Christmas</option>
   <option value="101">101 &ndash; Reply to Syr Rhys's satire</option>
   <option value="102">102 &ndash; In praise of Oswestry</option>
   <option value="103">103 &ndash; In praise of the sons of Edward ap Dafydd of Bryncunallt</option>
   <option value="104">104 &ndash; Elegy for Edward ap Dafydd of Bryncunallt</option>
   <option value="105">105 &ndash; Elegy for Robert Trefor ab Edward of Bryncunallt</option>
   <option value="106">106 &ndash; Request for reconciliation with Ieuan Fychan ab Ieuan of Pengwern</option>
   <option value="107">107 &ndash; In praise of Si&ocirc;n Edward of Plasnewydd and his wife, Gwenhwyfar daughter of Elis Eutun</option>
   <option value="108">108 &ndash; Request for eight oxen on behalf of Richard Cyffin ab Ieuan Llwyd, dean of Bangor</option>
   <option value="109">109 &ndash; To thank Abbot Dafydd ab Ieuan of Valle Crucis, and Rhisiart Cyffin ab Ieuan Llwyd, dean of Bangor, for healing a wound</option>
   <option value="110">110 &ndash; To thank Abbot Dafydd ab Ieuan of Valle Crucis for a buckler</option>
   <option value="111">111 &ndash; Ode in praise of Abbot Dafydd ab Ieuan of Valle Crucis</option>
   <option value="112">112 &ndash; In praise of Abbot Dafydd ab Ieuan of Valle Crucis</option>
   <option value="113">113 &ndash; Ode in praise of Abbot Dafydd ab Ieuan of Valle Crucis</option>
   <option value="114">114 &ndash; Request to borrow the Book of the Grail from Trahaearn ab Ieuan of Pen-rhos on behalf of Abbot Dafydd ab Ieuan of Valle Crucis</option>
   <option value="115">115 &ndash; In praise of Abbot Dafydd ab Owain of Strata Marcella</option>
   <option value="116">116 &ndash; Guto'r Glyn defends his place in Valle Crucis</option>
   <option value="117">117 &ndash; In praise of Abbot Dafydd ab Ieuan of Valle Crucis</option>
   <option value="118">118 &ndash; Meditation at the end of life</option>
   <option value="119">119 &ndash; His last englyn</option>
   <option value="120">120 &ndash; Guto Powys requests a cuirass from John Abrahall of Gillow</option>
   <option value="121">121 &ndash; Series of englynion of uncertain authorship concerning a dagger given to Hywel Grythor by Tudur Aled</option>
   <option value="122">122 &ndash; Series of englynion of uncertain authorship to urge Rhys Grythor to request a mantle from Abbot Dafydd of Maenan</option>
   <option value="123">123 &ndash; Poem of uncertain authorship for the poet's servant who gnashed his teeth in his sleep</option>
   <option value="124">124 &ndash; Poem of uncertain authorship for someone who farted</option>
   <option value="125">125 &ndash; Anonymous elegy for Sir William ap Thomas of Raglan</option>
   <option value="126">126 &ndash; Elegy for Guto'r Glyn by Gutun Owain</option>
</select>

{% endblock %}
