{% load i18n %}
<!DOCTYPE html> 
<html>
    <head>
        <title>Gutor Glyn.net</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1">

{% include "gutorglyn/css.html" %} 
{% include "gutorglyn/js.html" %} 
{% include "gutorglyn/google-analytics.html" %}

</head>
        <body>
	<div class="container">
		<div class="prepend-1 span-20 raw-content">
			<h2 class="title"></h2>
			<div id="editor-title" style="display: none;">
				<i>{% trans "Raw Base Page Editor Label" %}<span class="editor-name"></span></i>
				<hr/>
			</div>
			{% block content %}
			{%endblock content%}	
		</div>
	</div>
<!-- Container End --> 
    </body>
</html>
