{% block content %}
{% load i18n %}
<p>

{% if debug == "on" %}
Contains Type: {{ containsType }} <br/>
Search Type: {{ searchType }} <br/>
Poem Page Number: {{ poemPageNumber }} <br/>
Poem Page Number Values: {{ poemPageNumberValues }} <br/>
Start: {{ pageStart }} - End: {{ pageEnd }}<br/>
Total: {{ poemSearchNum }}<br/>
{% endif %}

{{ query }}
{% trans "Search Page Search Term Label" %}: {{searchTrm}}
<br/>
<span>{% trans "Search Page Search Type Label" %}: {{searchType|safe}}</span>
</p>
<div class="span-20 search-form-1">
    <form method="GET" action="/gutorglyn/search/" onsubmit="return validate()">
        <input type="text" name="searchVal" title="Chwilio" id="searchVal" value="{{searchTrm}}" size="50" class="main-search-box" />
        <input type="submit" value="{% trans "Search Page search button" %}" /><br/>
        <!-- 
        <input type="checkbox" name="whole-word"  id="whole-word" class="cb-group" /> Whole words only
         -->        
        <input type="checkbox" name="match-case"  id="match-case" class="cb-group" /> {% trans "Search Page Match Case Label" %}
    <input type="checkbox" name="ignore-diacritics" id="ignore-diacritics" class="cb-group" /> {% trans "Search Form Ignore Diacritics Lable" %}   
    <input type="checkbox" name="reg-ex"  id="reg-ex"> {% trans "Search Form Regular Expression Lable" %}     &nbsp;&nbsp;
        <br/>
        <br/>
        {% trans "Search Page Results Per Page Label" %}: {{perPage}}  | {% trans "Search Page Page Number Label" %}: {{ poemPageNumber }}
        <br/>
		{% trans "Search Page Showing Label" %}: 
        <select name="per-page">
        	<option value="10">10 {% trans "Search Page Instances Label" %}</option>
 	        <option value="20">20 {% trans "Search Page Instances Label" %}</option>
 	        <option value="30">30 {% trans "Search Page Instances Label" %}</option>
 	        <option value="40" selected>40 {% trans "Search Page Instances Label" %}</option>
 	        <option value="50">50 {% trans "Search Page Instances Label" %}</option>
        </select>
        <input type="hidden" name="page-start"  id="page-start" value="0"/>

		<br/>
    </form>
</div>    
</div>
<div class="terms">{{searchTrm}}</div>
<div id="accordion" class="names span-20 last">
	<h3>{% trans "Search Results Page Guide Title" %}</h3>	
	<div class="span-19 last">
		<p>{% trans "Search Results Page Guide Text" %}</p>
	</div>
</div>
<br/>
<div class="span-20 last view-results-label">{% trans "Search Page View Results In Label" %}</div>
<div class="span-20 last" id="search-results">
	<div id="search-tabs">
		<ul>
			<li><a href="#poem-results">{% trans "Search Page Tab Poems" %}</a></li>	
			<li><a href="#paraphrase-results">{% trans "Search Page Tab Paraphrase" %}</a></li>		
			<li><a href="#trans-results">{% trans "Search Page Tab Translation" %}</a></li>						
			<li><a href="#exp-notes-results">{% trans "Search Page Tab Explanatory Notes" %}</a></li>	
			<li><a href="#text-notes-results">{% trans "Search Page Tab Text Notes" %}</a></li>	
			<li><a href="#sources-results">{% trans "Search Page Tab Sources" %}</a></li>								
			<li><a href="#names-results">{% trans "Search Page Tab Patrons and Poets" %}</a></li>																					
		</ul>
		<div id="poem-results">
			<div class="hit-count"><strong>{% trans "Search Page Showing Label" %} {% trans "Search Page Poem Results Count label" %} {{ pageStart }} - <span style="display:inline" id="poem-hit-count">{{ pageEnd }} of {{ poemSearchNum }}</span></strong></div>
			<hr style="background-color:#868686"/>
		    <div class="results-group" id="poem-results-group">
		    	 {{poemSearchLineHits|safe}}
		    </div>
		</div>			
		<div id="paraphrase-results">
			<div class="hit-count"><strong><span style="display:inline" id="paraphrase-hit-count">{{paraphraseSearchNum}}</span> {% trans "Search Page Paraphrase Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>
		    <div class="results-group" id="paraphrase-results-group">
		    	 {{paraphraseSearchGroupHits|safe}}
		    </div>
		</div>
		<div id="trans-results">
			<div class="hit-count"><strong><span style="display:inline" id="trans-hit-count">{{transSearchNum}}</span> {% trans "Search Page Text Translation Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>		
		    <div class="results-group" id="trans-results-group">
		    	 {{transSearchGroupHits|safe}}
		    </div>		
		</div>				 	
		<div id="exp-notes-results">
			<div class="hit-count"><strong><span style="display:inline" id="exp-note-hit-count">{{expNotesSearchNum}}</span> {% trans "Search Page Explanatory Notes Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>		
		    <div class="results-group" id="exp-notes-results-group">
		    	 {{expNotesSearchGroupHits|safe}}
		    </div>		
		</div>
		<div id="text-notes-results">
			<div class="hit-count"><strong><span style="display:inline" id="text-note-hit-count">{{textNotesSearchNum}}</span> {% trans "Search Page Text Notes Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>		
		    <div class="results-group" id="text-notes-results-group">
		    	 {{textNotesSearchGroupHits|safe}}
		    </div>		
		</div>		
		<div id="sources-results">
			<div class="hit-count"><strong><span style="display:inline" id="sources-hit-count">{{sourcesSearchNum}}</span> {% trans "Search Page Text Sources Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>		
		    <div class="results-group" id="sources-results-group">
		    	 {{sourcesSearchGroupHits|safe}}
		    </div>		
		</div>							
		<div id="names-results">
			<div class="hit-count"><strong><span style="display:inline" id="name-hit-count">{{namesSearchNum}}</span> {% trans "Search Page Names Results Count label" %}</strong></div>
			<hr style="background-color:#868686"/>		
		    <div class="results-group" id="names-results-group">
		    	 {{namesSearchGroupHits|safe}}
		    </div>		
		</div>													
	</div>
</div>

<hr class="space" />

<div id="hidden-length-alert-text">{% trans "JavaScript Message Invalid Field Length" %} </div>

<script type="text/javascript">

function validate()
{
    if ( $(".main-search-box").val().length <= 3 )
    {
        alert($("#hidden-length-alert-text").text());
        return false;
    }   
    return true;
}


$(function() {
    $("#reg-ex").click(function () {
    	if ($("input.cb-group").is(':disabled')) {
    		$("input.cb-group").prop("disabled", false);
    	} else {
    		$("input.cb-group").prop("disabled", true);
    		$("#ignore-diacritics").prop("checked", false);
    		$("#match-case").prop("checked", false);        		
    	}
    	
    });
});

var RegExOn = gup('reg-ex');
var CaseOn = gup('match-case');
var diacriticOn = gup('ignore-diacritics');

if (RegExOn === 'on') {
	$('#reg-ex').prop('checked', true);

	//$('#search-results > div > ul > li:eq(0)').hide();	
	$('#search-results > div > ul > li:eq(1)').hide();	
	$('#search-results > div > ul > li:eq(2)').hide();	
	//$('#search-results > div > ul > li:eq(3)').hide();		
	$('#search-results > div > ul > li:eq(4)').hide();		
	$('#search-results > div > ul > li:eq(5)').hide();
	$('#search-results > div > ul > li:eq(6)').hide();	
	
	//$('#search-results > div > div:eq(0)').hide();	
	$('#search-results > div > div:eq(1)').hide();		
	$('#search-results > div > div:eq(2)').hide();	
	//$('#search-results > div > div:eq(3)').hide();		
	$('#search-results > div > div:eq(4)').hide();	
	$('#search-results > div > div:eq(5)').hide();
	$('#search-results > div > div:eq(6)').hide();
}

if (CaseOn === 'on') {
	$('#match-case').prop('checked', true);
}
	
if (diacriticOn === 'on') {
	$('#ignore-diacritics').prop('checked', true);
}	

/* code to highlight found search terms  */
var terms = $('.terms').text();
var regEx = new RegExp(terms, 'gi');

$('.search-results-line').each(function() { 
	$(this).html($(this).html().replace(regEx, "<span class='found'>$&</span>"));
	$(".found").parents(".search-results-line").css("color", "#222222");		
	});
$('p').each(function() { 
	$(this).html($(this).html().replace(regEx, "<span class='found'>$&</span>"));
	});	

/* code to highlight found search terms End */

/* Code to hide empty search tabs  */

var exp_note_hits, name_hits, paraphrase_hits, poem_hits, text_note_hits, trans_hits, sources_hits;

exp_note_hits = parseInt($("#exp-note-hit-count").text(), 10);
name_hits = parseInt($("#name-hit-count").text(), 10);
paraphrase_hits = parseInt($("#paraphrase-hit-count").text(), 10);
poem_hits = parseInt($("#poem-hit-count").text(), 10);
text_note_hits = parseInt($("#text-note-hit-count").text(), 10);
trans_hits = parseInt($("#trans-hit-count").text(), 10);
sources_hits = parseInt($("#sources-hit-count").text(), 10);

hit_array = [poem_hits, paraphrase_hits, trans_hits, exp_note_hits, text_note_hits, sources_hits, name_hits];
console.log("Hit Array is " + hit_array);

//Get the max value from the array    
maxValue = Math.max.apply(this, hit_array);
console.log("highest result value is " + maxValue);

// Get the index of the max value, through the built in function inArray
var highest_position = $.inArray(maxValue, hit_array);
console.log("highest zeroth tab position is " + highest_position);

$(function() {
	$("#search-tabs").tabs({ selected: highest_position });
    $('#search-tabs > div > .results-group').each(function(index, elem) {
        if ($.trim($(elem).html()).length == 0) {
        	console.log("hidden tab index is " + index);
        	$("#search-tabs").tabs( "disable" , [index]);
        }
    });

    $( "#accordion" ).accordion({
    	collapsible: true,
    	active: false
    });
    
    $(".instance-help-text").text($("#hidden-instance-tooltip-text").text());
});

/* Code to hide empty search tabs end */	

//Set checkbox options based on last selection
var wholeWordValue = $("#whole-word").val();
//alert(wholeWordValue)
//-->
</script>
{% endblock %}    			