{% extends "gutorglyn/base.html" %}

{% block poemTitle%}{{ poemTitle|safe }}{% endblock %}

{% block poemTitleMain %}{{ poemTitle|safe}}{% endblock %}

{% block poemTitleNav %}{{ poemTitle|safe }}{% endblock %}


{% block editedText %}{{ editedText|safe }}{% endblock %}

{% block paraphrase %}{{ paraphrase|safe }}{% endblock %}

{% block translation %}{{ translation|safe }}{% endblock %}


{% block textNotes %}{{ textNotes|safe }}{% endblock %}

{% block exNotes %}{{ exNotes|safe }}{% endblock %}

{% block exEngNotes %}{{ exEngNotes|safe }}{% endblock %}

{% block editor %}{{ editor|safe }}{% endblock %}

{% block bard %}{{ bard|safe }}{% endblock %}

{% block transcript %}{{ transcript|safe }}{% endblock %}

